@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap');
body{
    background-color: whitesmoke;
}
.body1{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    height: 500px;
    width: 900px;
    /* margin-left: 250px; */
    margin-top: -50px;
    border-radius: 20px;
    /* box-shadow: 0 0 5px #15616D; */
}

.logo1{
    width: 80px;
    height: 80px;
    display: block;
    margin-left: 35px;
}
.body p{
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bold;
    font-size: 30px;
    top: -10px;
    left: 150px;
    position: absolute;
    color: #3d797c;
}
.line1{
    width: 400px;
    height:450px;
    border: 5px solid #3d797c;
    border-right: none;
    margin-top: 50px;
    margin-left: 100px;    
}

.body h1{
    top: 0px;
    left:130px;
    font-size:40px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Teko', sans-serif;
    color:#15616D;
}

.body h3{
    top: 100px;
    left:30px;
    font-size: 30px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
/* font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
    width: 800px;
    color: #15616D;
    z-index: 1;
    font-weight: 600;
    font-weight: lighter;
}
.image{
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.image1{
    right: 700px;
    top: 220px;
    position: absolute;
    z-index:0;
    height: 400px;
    width: 400px;
}
