.msg{
    color:#0f3b57;
    font-family: 'Noto Sans Display', sans-serif;
    top: -20px;
    position: relative;
}

.mp1{
    width: 350px;
    left: 650px;
    top: -15px;
    position: relative;
    color:#0f3b57;
    font-weight: bold;
    padding-right:20px ;
    text-align: center;
    font-size: 25px;
}
.mp{
    width: 350px;
    left: 980px;
    top: -70px;
    position: relative;
    color:#15616D;
    font-weight: bold;
    padding-right:20px ;
    text-align: left;
    font-size: 15px;
}


.productP{
    font-size: 50px; font-family: 'Oswald', sans-serif;
     color:#425463; 
     font-weight: bold;
    margin-top: -187px;
    position: relative;
    text-align: center;
}

.cardP1{
    background-color:#0f3b57 ;
    border-radius: 10px;
    margin-left: 40px;
    box-shadow: 0 0 5px #15616D;
}

.pbg{
    left: 0px;
    top: 80px;
    position: absolute;
    z-index:-2;
    height: 100%;
    width: 100%;
    opacity: .5;
}