@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

.f-h1{
    font-family: 'Oswald', sans-serif;
    color: #15616D;
    /* font-weight: bold; */
    font-size: 35px;
    right: 100px;
    top: 0px;
    position: absolute;
}

.f-h2{
    font-family: 'Oswald', sans-serif;
    color: #15616D;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 60px;
    /* margin-bottom: 100px; */
    width: 300px;
}

.login-btn{
    /* float: left; */
    width: 90px;
    height: 30px;
    /* border-radius: 10px; */
    border: 1px solid #0f3b57;
    /* background-color: #0f3b57; */
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bold;
    color: #0f3b57;
    top: 0px;
    right: 5px;
    font-size: 15px;
    position: relative;
}
.signup-btn{
    /* float: right; */
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #15616D;
    background-color: #0f3b57;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: bold;
    top:-11px;
    right: 40px;
    position: relative;
    color: whitesmoke;
    font-size: 15px;
}

.form-group1{
    margin-bottom: 30px;
}
.form-group1 input{
    /* border-radius: 10px; */
    height: 35px;
    width: 250px;
    border: 1px solid #15616D;
    color: #0f3b57;
    background-color: whitesmoke;
    padding-left: 10px;
    top: 20px;
    right: -16px;
    position: relative;
}

.labelL{
    color: #15616D;
    top: 20px;
    right: 55px;
    position: relative;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 15px;
    font-weight: bold;

}
.labelL1{
    color: #15616D;
    top: 20px;
    right: 45px;
    position: relative;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 15px;
    font-weight: bold;

}


.d{
    top: 100px;
    left: 850px;
    position: absolute;
    /* margin-left: 700px; */
    width: 350px;
    /* box-shadow: 0 0 10px #15616D; */
}